
body {
    font-family: helvetica;
    font-weight: 300;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
}
nav {
    text-align: center;
}

nav a:hover {
    color: orange;
}


.active {
    font-size: large;
    color: orangered;
}

h1 {
    font-weight: 300;
    text-align: center;
}

p {
    text-align: center;
}
